@import "@/infrastructure/styles/utils";

.background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: $z-index-modal;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: $spacing-500;
  background-color: rgba(0, 0, 0, 0.15);
}

.modal {
  position: relative;
  z-index: $z-index-modal + 1;
  width: 100%;
  max-width: 425px;
  padding: $spacing-500;
  background-color: get-color(box);
  border-radius: $border-radius-700;
  box-shadow: $shadow-500 get-color(gray-light);

  &__heading {
    margin-bottom: $spacing-500;
  }

  &__closeBtn {
    position: absolute;
    top: $spacing-500;
    right: $spacing-500;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: transparent;
    color: get-color(text);
    transition: $transition-time-500 color;
    cursor: pointer;

    &:hover {
      color: get-color(primary);
    }
  }
}
