@import "@/infrastructure/styles/utils";

.wrapper {
  width: 100%;
  overflow-x: auto;

  @include custom-scrollbar;
}

.table {
  width: 100%;
}

.tableHead {
  background-color: get-color(primary-light);
  color: get-color(primary-inverted);
}

.tableRow {
  border-bottom: 1px solid get-color(gray-light);
  background-color: transparent;
  transition: $transition-time-500 background-color;

  &__clickable {
    cursor: pointer;

    &:hover {
      background-color: get-color(gray-light);
    }
  }
}

.tableHeadCell {
  padding: $spacing-500;

  text-align: left;
  white-space: nowrap;

  &:last-child {
    text-align: right;
  }
}

.tableBody {
  width: 100%;
  transition: $transition-time-500 opacity;

  &__loading {
    opacity: 0.4;
  }
}

.tableCell {
  padding: $spacing-500;
  white-space: nowrap;

  &:last-child {
    text-align: right;
  }
}
