@import "@/infrastructure/styles/utils";

.wrapper {
  width: 100%;
  overflow-x: auto;

  @include custom-scrollbar;
}

.table {
  width: 100%;
}

.tableHead {
  background-color: get-color(primary-500);
  color: get-color(primary-500-inverted);
  border-radius: $border-radius-500;
}

.tableRow {
  border-bottom: 1px solid get-color(neutral-500);
  background-color: transparent;
  transition: $transition-time-500 background-color,
    $transition-time-500 border-bottom;

  &__clickable {
    cursor: pointer;

    &:hover {
      background-color: get-color(neutral-300);
    }
  }
}

.tableHeadCell {
  padding: $spacing-500;

  text-align: left;
  white-space: nowrap;

  &:first-child {
    border-radius: $border-radius-500 0px 0px 0px;
  }

  &:last-child {
    border-radius: 0px $border-radius-500 0px 0px;
    text-align: right;
  }
}

.tableBody {
  width: 100%;
  transition: $transition-time-500 opacity;

  &__loading {
    opacity: 0.4;
  }
}

.tableCell {
  padding: $spacing-500;
  white-space: nowrap;
  color: get-color(text-500);
  transition: $transition-time-500 color;

  &:last-child {
    text-align: right;
  }
}
