@import "@/infrastructure/styles/variables";

.link {
  position: relative;
  display: inline-flex;
  align-items: center;
  gap: $spacing-s;
  color: get-color(primary-dark);
  text-decoration: none;
  transition: $transition-time color;

  &::after {
    content: "";
    position: absolute;
    left: 5px;
    right: 5px;
    bottom: 0;
    height: 1px;
    background-color: get-color(primary-light);
    transform: scaleX(0);
    transition: $transition-time transform;
  }

  &:hover {
    color: get-color(primary-light);
    &::after {
      transform: scaleX(1);
    }
  }
}
