@import "@/infrastructure/styles/utils";

.link {
  position: relative;
  display: inline-flex;
  align-items: center;
  gap: $spacing-300;
  color: get-color(primary-500);
  text-decoration: none;
  transition: $transition-time-500 color;

  &::after {
    content: "";
    position: absolute;
    left: 5px;
    right: 5px;
    bottom: 0;
    height: 1px;
    background-color: get-color(primary-500-hovered);
    transform: scaleX(0);
    transition: $transition-time-500 transform;
  }

  &:hover {
    color: get-color(primary-500-hovered);
    &::after {
      transform: scaleX(1);
    }
  }
}
