@import "modules/common/styles/variables";

.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: $spacing-m;

  &__form {
    display: flex;
    flex-direction: column;
    gap: $spacing-m;
    max-width: 800px;
  }
}
