@import "@/infrastructure/styles/variables";

.heading {
  margin-bottom: $spacing-m;
}

.updateDetailsBtnWrapper {
  display: flex;
  justify-content: flex-end;
  margin-top: $spacing-m;
}

.votingBox {
  margin-top: $spacing-l;

  &__header {
    display: flex;
    justify-content: space-between;
  }
}
