@import "@/infrastructure/styles/utils";

.heading {
  margin-bottom: $spacing-500;
}

.updateDetailsBtnWrapper {
  display: flex;
  justify-content: flex-end;
  margin-top: $spacing-500;
}

.votingBox {
  margin-top: $spacing-700;

  &__header {
    display: flex;
    justify-content: space-between;
  }
}
