@import "@/infrastructure/styles/utils";

.updateDetailsBtnWrapper {
  display: flex;
  justify-content: flex-end;
  margin-top: $spacing-700;
}

.votingBox {
  margin: $spacing-700 0px 0px;

  &__header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: $spacing-700;
    margin-bottom: $spacing-700;

    @include min-device(mobile-700) {
      flex-wrap: nowrap;
      justify-content: space-between;
    }
  }

  &__buttonWrapper {
    margin-left: auto;
  }
}
