@import "@/infrastructure/styles/utils";

.item {
  display: flex;
  gap: $spacing-500;
  border-bottom: 1px solid get-color(gray-light);
  padding-bottom: $spacing-500;

  &__content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: $spacing-300;
  }

  &__buttonWrapper {
    display: flex;
    align-items: center;
  }

  &__detailsBtn {
    min-width: 100px;
  }
}
