@import "@/infrastructure/styles/utils";

.item {
  display: flex;
  gap: $spacing-500;
  border-bottom: $border-300 get-color(neutral-500);
  padding-bottom: $spacing-500;
  transition: $transition-time-500 border-bottom;

  &__content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: $spacing-300;
  }

  &__buttonWrapper {
    display: flex;
    align-items: center;
  }

  &__detailsBtn {
    min-width: 100px;
  }
}
