@import "./variables.scss";

@mixin custom-scrollbar {
  @media (hover: hover) {
    &::-webkit-scrollbar {
      width: 8px;
      height: 8px;
    }

    &::-webkit-scrollbar-track {
      background-color: $gray-light;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $primary-color-light;
      outline: 2px solid $primary-color-light;
      cursor: pointer;

      transition: $transition-time;

      &:hover {
        background-color: $primary-color;
        outline: 2px solid $primary-color;
      }
    }
  }
}
