@import "modules/common/styles/variables.scss";
@import "modules/common/styles/keyframes.scss";

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: $button-min-width;
  height: $form-element-height;
  padding: 0;
  border: none;
  border-radius: $border-radius-small;
  font-size: $font-size-small;
  font-weight: 500;
  color: $primary-color-inverted;
  background-color: $primary-color;
  transition: $transition-time background-color;
  cursor: pointer;
  overflow: hidden;

  &:hover {
    background-color: $primary-color-light;
  }

  &:disabled {
    cursor: not-allowed;
    background-color: $gray;
  }

  &_loading {
    &:disabled {
      background-color: $primary-color-light;
    }
  }
}

.spinner {
  animation: spin 2000ms linear infinite;
}
