@import "@/infrastructure/styles/utils";

.box {
  display: flex;
  flex-direction: column;
  gap: $spacing-700;

  &__image {
    margin-top: $spacing-300;
    align-self: center;
  }

  &__text {
    margin: $spacing-300 0;
    text-align: center;

    strong {
      font-weight: 700;
    }
  }

  &__footer {
    display: flex;
    justify-content: flex-end;
  }
}
