@import "./tokens.scss";

@mixin custom-scrollbar {
  @media (hover: hover) {
    &::-webkit-scrollbar {
      width: 8px;
      height: 8px;
    }

    &::-webkit-scrollbar-track {
      background-color: get-color(neutral-300);
    }

    &::-webkit-scrollbar-thumb {
      background-color: get-color(primary-300);
      outline: 2px solid get-color(primary-300);
      cursor: pointer;

      transition: $transition-time-500;

      &:hover {
        background-color: get-color(primary-500);
        outline: 2px solid get-color(primary-500);
      }
    }
  }
}
