@import "modules/common/styles/variables";

.heading {
  margin-bottom: $spacing-m;
}

.votingBox {
  margin-top: $spacing-l;

  &__header {
    display: flex;
    justify-content: space-between;
  }
}
