@import "shared/styles/variables";

.input {
  padding: 0 $spacing-m;
  height: $form-element-height;
  border-radius: $border-radius-small;
  border: $primary-border;
  transition: $transition-time;
  font-family: inherit;
  font-weight: 500;

  &:focus {
    outline: none;
    border-color: $primary-color;
  }
}
