@import "@/infrastructure/styles/utils";

.infoBox {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: $spacing-500;
  border-radius: $border-radius-500;
  font-size: $font-size-100;

  &__info {
  }

  &__success {
    border: 1px solid get-color(success);
    background-color: get-color(success-light);
  }

  &__danger {
    border: 1px solid get-color(danger);
    background-color: get-color(danger-light);
  }
}
