@import "@/infrastructure/styles/variables";

.infoBox {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: $spacing-m;
  border-radius: $border-radius-small;
  font-size: $font-size-small;

  &__info {
  }

  &__success {
    border: 1px solid get-color(success);
    background-color: get-color(success-light);
  }

  &__danger {
    border: 1px solid get-color(danger);
    background-color: get-color(danger-light);
  }
}
