@import "shared/styles/variables";

.infoBox {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: $spacing-m;
  border-radius: $border-radius-small;
  font-size: $font-size-small;

  &__info {
    border: 1px solid $primary-color;
    background-color: transparentize($primary-color, 0.75);
  }

  &__success {
    border: 1px solid $success;
    background-color: transparentize($success, 0.75);
  }

  &__danger {
    border: 1px solid $danger;
    background-color: transparentize($danger, 0.75);
  }
}
