@import "@/infrastructure/styles/utils";

.wrapper {
  display: flex;
  flex-direction: column;
  gap: $spacing-500;
  height: 140px;
}

.walletWrapper {
  display: flex;
  align-items: center;
  gap: $spacing-300;
}
