@import "@/infrastructure/styles/variables.scss";

.wrapper {
  display: flex;
  flex-direction: column;
  gap: $spacing-m;
  height: 140px;
}

.walletWrapper {
  display: flex;
  align-items: center;
  gap: $spacing-s;
}
