@import "shared/styles/variables";
@import "shared/styles/media";

.wrapper {
  display: flex;

  &__pageContent {
    max-width: 100vw;
    height: 100vh;
    flex-grow: 1;
    overflow-y: auto;

    @include min-vw($breakpoint-lg) {
      margin-left: -45px;
    }
  }
}

.sidebarContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 365px;
  height: 100%;
  padding-left: 45px;
  background-color: $box-color;
  box-shadow: $shadow;
  gap: $spacing-m;

  &__heading {
    margin-bottom: $spacing-l;
  }
}
