@import "modules/common/styles/variables.scss";
@import "modules/common/styles/media.scss";

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: $spacing-m;

  @include min-vw($breakpoint-lg) {
    flex-direction: row;
  }
}
