@import "@/infrastructure/styles/utils";

.input {
  padding: 0 $spacing-500;
  height: $form-element-height-500;
  border-radius: $border-radius-500;
  border: $border-300 get-color(gray-light);
  transition: $transition-time-500;
  font-family: inherit;
  font-weight: 500;

  &:focus {
    outline: none;
    border-color: get-color(primary);
  }

  &__error {
    border-color: get-color(danger);
  }

  &__success {
    border-color: get-color(success);
  }
}
