@import "@/infrastructure/styles/variables";

.wrapper {
  display: flex;
  flex-direction: column;
  gap: $spacing-xs;
}

.label {
  margin-left: $spacing-xs;
  color: get-color(text);
  font-weight: 600;
  font-size: 0.9rem;
}

.helperText {
  margin-left: $spacing-xs;
  font-size: 0.8rem;
  font-weight: 600;

  &__success {
    color: get-color(success);
  }

  &__error {
    color: get-color(danger);
  }
}
