@import "@/infrastructure/styles/utils";

.wrapper {
  display: flex;
  flex-direction: column;
  gap: $spacing-100;
}

.label {
  margin-left: $spacing-100;
  color: get-color(text-500);
  font-weight: 600;
  font-size: 0.9rem;
}

.helperText {
  margin-left: $spacing-100;
  font-size: 0.8rem;
  font-weight: 600;

  &__success {
    color: get-color(success-500);
  }

  &__error {
    color: get-color(danger-500);
  }
}
