@import "@/infrastructure/styles/utils";

.noDataWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $spacing-500;
  padding: $spacing-900 $spacing-500;
  text-align: center;
}
