@import "@/infrastructure/styles/variables";

.wrapper {
  display: flex;
  gap: $spacing-xs;
}

.languageBtn {
  background-color: $background;
  border-radius: $border-radius-small;
  padding: $spacing-s;
  transition: $transition-time background-color;

  img {
    filter: grayscale(0.65);
    transition: $transition-time filter;
  }

  &:hover {
    background-color: $gray-light;

    img {
      filter: grayscale(0);
    }
  }

  &__active {
    img {
      filter: grayscale(0);
    }
  }
}
