@import "@/infrastructure/styles/variables";
@import "@/infrastructure/styles/mixins";

.list {
  display: flex;
  overflow-x: auto;
  padding-bottom: $spacing-s;
}

.tab {
  flex-shrink: 0;
  position: relative;
  width: 125px;
  text-align: center;
  color: $gray;
  border-bottom: 2px solid $gray-light;

  button {
    width: 100%;
    padding: $spacing-s 0;
    background-color: transparent;
    border: none;
    font-size: $font-size-normal;
    color: inherit;
    font-weight: 700;
    cursor: pointer;
    transition: $transition-time color;

    &:hover {
      color: $primary-color;
    }
  }

  &__active {
    color: $text-color;
  }

  &__underline {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -2px;
    height: 2px;
    background-color: $primary-color;
  }
}
