@import "@/infrastructure/styles/utils";

.list {
  display: flex;
  overflow-x: auto;
  padding-bottom: $spacing-300;
}

.tab {
  flex-shrink: 0;
  position: relative;
  width: 125px;
  text-align: center;
  color: get-color(text-500);
  border-bottom: 2px solid get-color(neutral-300);

  button {
    width: 100%;
    padding: $spacing-300 0;
    background-color: transparent;
    border: none;
    font-size: $font-size-200;
    color: inherit;
    font-weight: 700;
    cursor: pointer;
    transition: $transition-time-500 color;

    &:hover {
      color: get-color(primary-500);
    }
  }

  &__active {
    color: get-color(text-700);
  }

  &__underline {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -2px;
    height: 2px;
    background-color: get-color(primary-500);
  }
}
