@import "@/infrastructure/styles/utils";

.wrapper {
  display: flex;
  flex-direction: column;
  margin: $spacing-500;
  gap: $spacing-500;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: $spacing-700;
  background-color: get-color(primary);
  border-radius: $border-radius-700;

  @include min-device(mobile-300) {
    padding: $spacing-900;
  }

  &__heading {
    margin: $spacing-700 0;
    color: get-color(primary-inverted) !important;
    font-size: 2.8rem;

    @include min-device(tablet-500) {
      font-size: 4.2rem;
    }
  }

  &__subheading {
    color: get-color(primary-inverted) !important;
  }

  &__description {
    color: get-color(primary-inverted) !important;
  }

  &__link {
    display: block;
    width: 160px;
    margin: $spacing-700 0 0 0;
    padding: $spacing-500;
    background-color: get-color(primary-inverted);
    border-radius: $border-radius-500;
    text-align: center;
    font-size: $font-size-100;
    font-weight: 700;
    color: get-color(text);
    text-transform: uppercase;
    text-decoration: none;
    transition: $transition-time-500 background-color;

    @include max-device(mobile-300) {
      margin-left: auto;
    }

    &:hover {
      background-color: get-color(gray-light);
    }
  }

  &__illustration {
    @include max-device(tablet-700) {
      display: none;
    }
  }
}

.faqBox {
  display: flex;
  flex-direction: column;
  gap: $spacing-500;
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
}
