@import "@/infrastructure/styles/utils";
.button {
  display: flex;
  align-items: center;
  width: 100%;
  height: $form-element-height-500;
  padding: 0 $spacing-500;
  background-color: transparent;
  border: none;
  border-radius: $border-radius-500;
  color: get-color(danger);
  font-weight: 500;
  font-size: $font-size-200;
  transition: $transition-time-500;

  cursor: pointer;

  &__label {
    margin-left: $spacing-500;
  }

  &:hover {
    background-color: get-color(danger-light);
  }

  &__loadingIcon {
    animation: spin 2000ms linear infinite;
  }
}
