@import "@/infrastructure/styles/variables";

.container {
  display: flex;
  align-items: center;
  gap: 4px;
}

.page {
  width: 38px;
  height: 38px;
  border: 2px solid get-color(primary);
  color: get-color(primary);
  font-weight: 500;
  transition: 0.3s;
  cursor: pointer;
  border-radius: $border-radius-small;

  &:hover {
    background-color: get-color(primary-light);
    color: get-color(primary-inverted);
  }

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 38px;
  }
}

.activePage {
  background-color: get-color(primary);
  color: get-color(primary-inverted);

  &:hover {
    background-color: get-color(primary);
  }
}

.previous,
.next,
.break {
  width: 26px;
  text-align: center;
  color: get-color(primary);
  font-weight: 700;
  font-size: 22px;
  cursor: pointer;
}
