@import "@/infrastructure/styles/utils";

.sidebar {
  transform: translateX(-45px);
  z-index: $z-index-sidebar;

  @include max-device(tablet-700) {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    overflow-y: auto;
  }
}
