@import "@/infrastructure/styles/utils";

.wrapper {
  display: flex;
  gap: $spacing-100;
}

.languageBtn {
  background-color: get-color(neutral-300);
  border-radius: $border-radius-500;
  padding: $spacing-300;
  transition: $transition-time-500 background-color;

  img {
    filter: grayscale(0.25);
    transition: $transition-time-500 filter;
  }

  &:hover {
    background-color: get-color(neutral-500);

    img {
      filter: grayscale(0);
    }
  }

  &__active {
    img {
      filter: grayscale(0);
    }
  }
}
