@import "@/infrastructure/styles/utils";

.list {
  display: flex;
  flex-direction: column;
  gap: $spacing-500;

  &__item {
    strong {
      color: get-color(primary-700);
      font-weight: 700;
    }
  }
}
