@import "@/infrastructure/styles/variables";

.list {
  display: flex;
  flex-direction: column;
  gap: $spacing-m;

  &__item {
    strong {
      color: get-color(primary-dark);
      font-weight: 700;
    }
  }
}
