@import "modules/common/styles/variables";
@import "modules/common/styles/media";

.sidebar {
  transform: translateX(-45px);
  z-index: $z-index-sidebar;

  @include max-vw($breakpoint-lg) {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    overflow-y: auto;
  }
}
