@import "@/infrastructure/styles/utils";

.cardsWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: $spacing-700;
  margin-top: $spacing-700;
  max-width: 100%;

  @include min-vw(1100px) {
    flex-wrap: nowrap;
  }

  &__firstCard {
    flex-grow: 1;
    max-width: 100%;
  }

  &__secondCard {
    flex-grow: 1;
    align-self: flex-start;

    @include min-vw(1100px) {
      max-width: 450px;
    }
  }
}
