@import "shared/styles/variables";

.wrapper {
  display: flex;
  flex-direction: column;
  gap: $spacing-xs;
}

.label {
  margin-left: $spacing-xs;
  color: $text-color;
  font-weight: 600;
  font-size: 0.9rem;
}

.helperText {
  margin-left: $spacing-xs;
  font-size: 0.8rem;
  font-weight: 600;

  &__success {
    color: $success;
  }

  &__error {
    color: $danger;
  }
}
