@import "@/infrastructure/styles/utils";

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vw;
  padding: $spacing-500;

  @include min-device(tablet-700) {
    flex-direction: row;
    height: 100vh;
    min-height: auto;
  }
}

.loginSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: $spacing-700;
  width: 100%;
  max-width: 600px;
  padding: $spacing-500;

  &__content {
    display: flex;
    flex-direction: column;
    gap: $spacing-700;
    max-width: 400px;
  }
}

.illustrationWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;

  img {
    max-width: 100%;
    width: auto;
    height: auto;
  }

  @include min-device(tablet-700) {
    width: 100%;
    flex-grow: 1;
    height: 100%;
    background-color: get-color(primary-500);
    border-radius: $border-radius-700;
  }
}

.settings {
  display: flex;
  align-items: center;
  gap: $spacing-300;
  padding: $spacing-300;
  width: fit-content;
  border-radius: $border-radius-500;
  background-color: get-color(background-300);
  transition: $transition-time-500 background-color;
}
