@import "@/infrastructure/styles/utils";

.wrapper {
  display: inline-block;
  position: relative;
  background-color: get-color(background);
  height: $form-element-height-500;
  border-radius: $form-element-height-500;
  width: fit-content;
}

.input {
  display: none;
  visibility: hidden;
  width: 0px;
  height: 0px;
}

.label {
  position: relative;
  display: flex;
  gap: $spacing-100;
  padding: $spacing-300;
  cursor: pointer;
}

$iconSize: $form-element-height-500 - 2 * $spacing-300;

.icon {
  width: $iconSize;
  height: $iconSize;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: $spacing-100;
  color: get-color(gray-light);
  transition: $transition-time-500 color;
  z-index: 1;

  &__checked {
    color: get-color(primary-inverted);
  }
}

.indicator {
  position: absolute;
  top: 0;
  margin: $spacing-300;
  width: $iconSize;
  height: $iconSize;
  border-radius: 100px;
  transition: $transition-time-500 background-color;
  background-color: get-color(primary);
}
