@import "@/infrastructure/styles/variables";
@import "@/infrastructure/styles/media";

.box {
  background-color: get-color(box);
  box-shadow: $shadow;
  padding: $spacing-m;
  border-radius: $border-radius-small;

  @include min-vw($breakpoint-md) {
    padding: $spacing-l;
  }
}
