@import "@/infrastructure/styles/utils";

.box {
  background-color: get-color(box);
  box-shadow: $shadow-500 get-color(gray-light);
  padding: $spacing-500;
  border-radius: $border-radius-500;

  @include min-device(tablet-500) {
    padding: $spacing-700;
  }
}
