@import "@/infrastructure/styles/utils";

.box {
  background-color: get-color(background-300);
  box-shadow: $shadow-500 get-color(shadow);
  padding: $spacing-700;
  border-radius: $border-radius-500;
  transition: $transition-time-500;
}
