@import "@/infrastructure/styles/utils";

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: $button-min-width-500;
  height: $form-element-height-500;
  padding: 0;
  border: none;
  border-radius: $border-radius-500;
  font-size: $font-size-100;
  font-weight: 500;
  color: get-color(primary-inverted);
  background-color: get-color(primary);
  transition: $transition-time-500 background-color;
  cursor: pointer;
  overflow: hidden;

  &:hover {
    background-color: get-color(primary-light);
  }

  &:disabled {
    cursor: not-allowed;
    background-color: get-color(gray-500);
  }

  &_loading {
    &:disabled {
      background-color: get-color(primary-light);
    }
  }
}

.spinner {
  animation: spin 2000ms linear infinite;
}
