@import "@/infrastructure/styles/utils";

.h1 {
  font-size: $font-size-900;
  font-weight: 700;
  color: get-color(heading);
}

.h2 {
  font-size: $font-size-700;
  font-weight: 700;
  color: get-color(heading);
}

.h3 {
  font-size: $font-size-500;
  font-weight: 700;
  color: get-color(heading);
}

.text {
  font-size: $font-size-200;
  color: get-color(text);

  &__bold {
    font-weight: 600;
  }

  &__bolder {
    font-weight: 700;
  }

  &__center {
    text-align: center;
  }
}

.textDanger {
  color: get-color(danger);
}
