@import "@/infrastructure/styles/variables.scss";

.h1 {
  font-size: $font-size-h1-big;
  font-weight: 700;
  color: get-color(heading);
}

.h2 {
  font-size: $font-size-h2-big;
  font-weight: 700;
  color: get-color(heading);
}

.h3 {
  font-size: $font-size-h3-big;
  font-weight: 700;
  color: get-color(heading);
}

.text {
  font-size: $font-size-normal;
  color: get-color(text);

  &__bold {
    font-weight: 600;
  }

  &__bolder {
    font-weight: 700;
  }

  &__center {
    text-align: center;
  }
}

.textDanger {
  color: get-color(danger);
}
