@import "@/infrastructure/styles/variables";
@import "@/infrastructure/styles/keyframes";

.spinner {
  position: relative;

  &__item {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-color: transparent;
    border-width: 4px;
    border-style: solid;
    border-radius: 100px;

    &:first-child {
      border-left-color: $primary-color;
      border-right-color: $primary-color;
      animation: spin 2000ms linear infinite;
    }

    &:last-child {
      top: 15%;
      right: 15%;
      bottom: 15%;
      left: 15%;
      border-top-color: $primary-color;
      border-bottom-color: $primary-color;
      animation: spin-reverse 2000ms linear infinite;
    }
  }
}
