@import "shared/styles/variables";

.wrapper {
  width: 100%;
  overflow-x: auto;
}

.table {
  width: 100%;
}

.tableHead {
  background-color: $primary-color-light;
  color: $primary-color-inverted;
}

.tableRow {
  border-bottom: 1px solid $gray-light;
}

.tableHeadCell {
  padding: $spacing-m;

  text-align: left;
  white-space: nowrap;

  &:last-child {
    text-align: right;
  }
}

.tableBody {
  width: 100%;
}

.tableCell {
  padding: $spacing-m;
  white-space: nowrap;

  &:last-child {
    text-align: right;
  }
}
