@import "@/infrastructure/styles/utils";

.proposal {
  border-bottom: 1px solid get-color(neutral-300);
  padding-bottom: $spacing-500;
  transition: $transition-time-500 border-bottom;

  &:last-child {
    border-bottom: none;
    padding-bottom: 0;
  }

  &__header {
    margin-bottom: $spacing-500;
  }

  &__chart {
    margin: $spacing-300 0;
  }

  &__dates {
    display: flex;
    justify-content: space-between;
    margin-bottom: $spacing-300;
  }

  &__footer {
    display: flex;
    gap: $spacing-300;
    justify-content: center;
    align-items: center;
    min-height: $form-element-height-500;

    p {
      text-align: center;
    }
  }
}
