@import "@/infrastructure/styles/variables.scss";
@import "@/infrastructure/styles/keyframes.scss";

.button {
  justify-content: space-between;
  min-width: auto;

  &_loading {
    &:disabled {
      background-color: get-color(primary-light);
    }

    .iconWrapper {
      & > * {
        animation: spin 2000ms linear infinite;
      }
    }
  }

  .contentWrapper {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    min-width: $button-min-width - $form-element-height;
  }

  .iconWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: $form-element-height;
    height: $form-element-height;
  }
}
