@import "shared/styles/variables.scss";
@import "shared/styles/media.scss";

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;

  img {
    max-width: 100%;
    width: auto;
    height: auto;
  }

  @include min-vw($breakpoint-lg) {
    width: 100%;
    flex-grow: 1;
    height: 100%;
    background-color: $primary-color;
    border-radius: $border-radius-big;
  }
}
