@import "@/infrastructure/styles/utils";

.box {
  display: flex;
  flex-direction: column;
  gap: $spacing-500;
}

.list {
  display: flex;
  flex-direction: column;
  gap: $spacing-500;
}

.footer {
  align-self: end;
}
