@import "@/infrastructure/styles/utils";

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: $spacing-300 $spacing-700;
  background-color: get-color(box);
  box-shadow: $shadow-500 get-color(gray-light);

  &__brand {
    display: flex;
    align-items: center;
    gap: $spacing-500;
  }

  @include min-device(tablet-700) {
    display: none;
  }
}
