@import "styles/variables.scss";
@import "styles/keyframes.scss";

.button {
  justify-content: space-between;
  min-width: auto;

  &_loading {
    &:disabled {
      background-color: $primary-color-light;
    }

    .iconWrapper {
      & > * {
        animation: spin 2000ms linear infinite;
      }
    }
  }

  .contentWrapper {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    min-width: $button-min-width - $button-height;
  }

  .iconWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: $button-height;
    height: $button-height;
    background-color: $primary-color-light;
  }

  &:disabled {
    .iconWrapper {
      background-color: $gray-light;
    }
  }
}
