@import "@/infrastructure/styles/utils";

.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: $spacing-500;

  &__form {
    display: flex;
    flex-direction: column;
    gap: $spacing-500;
    max-width: 800px;
  }
}
